
*.ipch
*.db
*.opendb
*.vcxproj
*.filters
*.user
*.log
*.pch
*.tlog
*.xml
*.obj
*.idb
*.pdb
*.codeanalysis
*.db-shm
*.codeanalysisast
*.txt
*.enc
*.db-wal
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
*.lib
*.exe
*.dll
*.exp
*.ilk
*.lastcodeanalysissucceeded
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
*.sln
*.playlist
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
.vs/2DPathFinder/v15/.suo
*.ipdb
*.iobj
